.cart_popup_ltr {
  position: absolute;
  z-index: 1;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 200px;

  @media (max-width: 425px) {
    top: -41px;
    right: -58px;
    transform: scale(0.7);
  }
  .cart_popup_content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 500px;
    min-height: 256px;
    padding-top: 5px;
    overflow-y: auto;
    max-height: 600px;
    height: 100%;
    .cart {
      &__title {
        font-size: 23px;
        color: rgb(0, 100, 145);
        font-weight: bold;
        line-height: 1.2;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      &__line {
        background-color: #006491;
        height: 3px;
        width: 100%;
      }
      &__details {
        padding-left: 10px;
        &_helper_text {
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 14px;
        }
        &_product {
          display: flex;
          justify-content: space-between;
          padding-right: 20px;
          &_info {
            display: flex;
            gap: 20px;
            &_title {
              h4 {
                font-size: 15px;
                color: #006491;
              }
              div {
                display: flex;
                span {
                  font-size: 12px;
                  color: #006491;
                }
                p {
                  font-size: 12px;
                  color: #006491;
                  text-decoration: underline;
                }
              }
            }
            &_photo {
              img {
                width: 70px;
                height: 70px;
              }
            }
          }
          &_actions {
            display: flex;
            align-items: center;
            gap: 20px;
            padding-bottom: 5px;
            .quantity {
              display: flex;
              align-items: center;
              gap: 10px;
              input {
                width: 40px;
                height: 20px;
                text-align: center;
              }
            }
            .action_btns {
              display: flex;
              gap: 10px;
              button {
                border: 1px solid rgb(233, 233, 233);
                border-radius: 5px;
                background-color: rgb(255, 255, 255);
                width: 50px;
                height: 20px;
              }
              .remove_btn {
                border: 1px solid rgb(233, 233, 233);
                border-radius: 5px;
                background-color: rgb(255, 255, 255);
                width: 60px;
                height: 20px;
                cursor: pointer;
                &:hover {
                  background-color: rgb(207, 207, 207);
                }
              }
            }
          }
        }
        &_total {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 80%;
          padding-bottom: 6px;
          float: right;
          padding-right: 20px;
          padding-top: 5px;
          .total_price {
            font-size: 20px;
          }
          .push_btn {
            button {
              background-color: rgb(255, 0, 0);
              width: 132px;
              height: 37px;
              border: none;
              color: #fff;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.cart_popup_rtl {
  // position: relative;
  position: absolute;
  direction: rtl;
  z-index: 1;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 425px) {
    top: -41px;
    right: -58px;
    transform: scale(0.7);
  }
  @media (max-width: 425px) {
    top: -41px;
    right: -58px;
    transform: scale(0.7);
  }
  .cart_popup_content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 500px;
    padding-bottom: 10px;
    // min-height: 256px;
    height: 600px;
    overflow-y: auto;
    .cart {
      &__title {
        font-size: 23px;
        color: rgb(0, 100, 145);
        font-weight: bold;
        line-height: 1.2;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      &__line {
        background-color: #006491;
        height: 3px;
        width: 100%;
      }
      &__details {
        padding-right: 10px;
        &_helper_text {
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 14px;
        }
        &_product {
          display: flex;
          justify-content: space-between;
          padding-left: 20px;
          &_info {
            display: flex;
            gap: 20px;
            &_title {
              h4 {
                font-size: 15px;
                color: #006491;
              }
              div {
                display: flex;
                span {
                  font-size: 12px;
                  color: #006491;
                }
                p {
                  font-size: 12px;
                  color: #006491;
                  text-decoration: underline;
                }
              }
            }
            &_photo {
              img {
                width: 70px;
                height: 70px;
              }
            }
          }
          &_actions {
            display: flex;
            align-items: center;
            gap: 20px;
            padding-bottom: 5px;
            .quantity {
              display: flex;
              align-items: center;
              gap: 10px;
              input {
                height: 20px;
                width: 40px;
                text-align: center;
              }
            }
            .action_btns {
              display: flex;
              gap: 10px;
              button {
                border: 1px solid rgb(233, 233, 233);
                border-radius: 5px;
                background-color: rgb(255, 255, 255);
                width: 50px;
                height: 20px;
              }
              .remove_btn {
                border: 1px solid rgb(233, 233, 233);
                border-radius: 5px;
                background-color: rgb(255, 255, 255);
                width: 60px;
                height: 20px;
                cursor: pointer;
                &:hover {
                  background-color: rgb(207, 207, 207);
                }
              }
            }
          }
        }
        &_total {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 80%;
          padding-bottom: 6px;
          float: right;
          padding-right: 20px;
          padding-top: 5px;
          .total_price {
            font-size: 14px;
          }
          .push_btn {
            button {
              background-color: rgb(255, 0, 0);
              width: 132px;
              height: 37px;
              border: none;
              color: #fff;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.cart_item_desc {
  font-size: 11px;
  line-height: 20px;
  color: #555;
  max-width: 80%;
}
