.home-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 920px) {
    gap: 5rem;
  }

  .home-item {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;

    @media screen and (max-width: 920px) {
        margin: 0 auto;
    }

    @media screen and (max-width: 425px) {
      width: 90%;
    }

    button {
      background-color: red;
      color: white;
      border: none;
      padding: 24px;
      font-size: 20px;
      cursor: pointer;
      width: 100%;
    }
  }
}
